<div class="card form-supplier">
    <div class="card-header border-transparent">
      <h2 class="card-title">Form Tambah Supplier</h2>
    </div>
    <hr />
    <div class="card-body p-0">
      <form [formGroup]="addSuplierForm" (ngSubmit)="onSubmit()">
        <div class="card-body form-row">
          <div class="form-group col-4 col-md-4">
            <label for="inputNamaSupplier">Nama Supplier</label>
            <input
              type="suplier_name"
              formControlName="suplier_name"
              class="form-control"
              placeholder="suplier_name"
            />
          </div>
  
          <div class="form-group col-4 col-md-4">
            <label for="inputContact">Contact</label>
            <input
              type="contact"
              formControlName="contact"
              class="form-control"
              placeholder="contact"
            />
          </div>
  
          <div class="form-group col-4 col-md-4">
            <label for="inputAddress">Address</label>
            <input
              type="address"
              formControlName="address"
              class="form-control"
              placeholder="address"
            />
          </div>
        </div>
  
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  