<div class="card form-po">
  <div class="card-header border-transparent">
    <h2 class="card-title">Form Purchase Order</h2>
  </div>
  <hr />
  <div class="card-body p-0">
    <form [formGroup]="addPurchaseForm" (ngSubmit)="onSubmit()">
      <div class="card-body form-row">
        <div class="form-group col-4 col-md-4">
          <label for="inputNamaSupplier">Barcode</label>
          <input
            type="barcode"
            formControlName="barcode"
            class="form-control"
            placeholder="barcode"
          />
        </div>

        <div class="form-group col-4 col-md-4">
          <label for="inputContact">Quantity</label>
          <input
            type="quantity"
            formControlName="quantity"
            class="form-control"
            placeholder="quantity"
          />
        </div>

        <div class="form-group col-4 col-md-4">
          <label for="inputAddress">Discount</label>
          <input
            type="discount"
            formControlName="discount"
            class="form-control"
            placeholder="discount"
          />
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
