<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <h4>Acong Kelontong</h4>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Input your email to reset your password</p>

        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="Email"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <!-- <small class="invalid">Isi semua data terlebih dahulu</small> -->

          <div class="row">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary btn-block">
                Request link
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
