body {
  background-color: white;
}

div.login-box div.card.card-outline.card-primary {
  background-color: #03001c;
  color: white;
  border-radius: 10px;
}

div.card-header.text-center {
  border-bottom: 1px solid white;
}

div.login-box {
  max-width: 360px;
}

button {
  margin-top: 10px;
  margin-bottom: 30px;
}
