<body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="../../index2.html" class="h4"><b>Acong</b> Kelontong</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Input your email to reset your password</p>
  
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Email"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <!-- <small class="invalid">Isi semua data terlebih dahulu</small> -->
  
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">
                  Reset Password
                </button>
              </div>
            </div>
          </form>
  
          <p class="mb-1">
            <small>We will send you link to your email to reset your password</small>
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </body>
  