.content-wrapper {
  margin-top: 100px !important;
}

.brand-text.font-weight-light {
  font-weight: bold !important;
  margin-left: 30px;
}

div.card.containercard {
  max-width: 750px;
}

ul.nav.nav-pills.nav-sidebar.flex-column {
  cursor: pointer;
}

.navbar-nav.ml-auto {
  margin-right: 20px !important;
}

.main-header.navbar.navbar-expand.navbar-dark,
.main-sidebar.sidebar-dark-primary.elevation-4,
a.brand-link {
  background-color: #03001c !important;
  text-decoration: none;
  border-right: 1px solid grey;
}

.btn-sm.btn-secondary.dropdown-toggle {
  background-color: #03001c;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 7px;
  margin-top: 4px;
  margin-left: 5px;
}

a.d-block {
  text-decoration: none;
}

section.content {
  padding-left: 10px;
  padding-right: 10px;
}
