<div class="card form-create-user">
  <div class="card-header border-transparent">
    <h2 class="card-title">Form Tambah Supplier</h2>
  </div>
  <hr />
  <div class="card-body p-0">
    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
      <div class="card-body form-row">
        <div class="form-group col-4 col-md-4">
          <label for="inputNamaSupplier">Nama Karyawan</label>
          <input
            type="text"
            class="form-control"
            placeholder="Full name"
            formControlName="new_username"
          />
        </div>

        <div class="form-group col-4 col-md-4">
          <label for="inputContact">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            formControlName="new_email"
          />
        </div>

        <div class="form-group col-4 col-md-4">
          <label for="inputAddress">Role</label>
          <select
            class="custom-select mr-sm-2"
            id="inlineFormCustomSelect"
            formControlName="role"
          >
            <option selected>Role</option>
            <option value="finance">Finance</option>
            <option value="cashier">Cashier</option>
            <option value="inventory">Inventory</option>
          </select>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
