<router-outlet></router-outlet>

<h2>
  Hanya untuk test routing, nanti disini kosong, di app.component.html hanya ada
  router outlet
</h2>
<ul>
  <li>
    <h2>
      <a class="nav-link" routerLink="/owner/owner">Owner</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/user/inventory">Inventory</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/user/finance">Finance</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/user/cashier">Cashier</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/auth/login">Login</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/owner/register">Register</a>
    </h2>
  </li>
</ul>
