<div class="card form-product">
    <div class="card-header border-transparent">
      <h2 class="card-title">Form Produk</h2>
    </div>
    <hr />
    <div class="card-body p-0">
      <form>
        <div class="card-body form-row">
          <div class="form-group col-4 col-md-2">
            <label for="inputKodeProduk">Kode Produk</label>
            <input
              type="text"
              class="form-control"
              id="inputKodeProduk"
              placeholder="Kode Produk"
            />
          </div>
  
          <div class="form-group col-4 col-md-2">
            <label for="inputNamaProduk">Nama Produk</label>
            <input
              type="text"
              class="form-control"
              id="inputNamaProduk"
              placeholder="Nama Produk"
            />
          </div>
  
          <div class="form-group col-4 col-md-2">
            <label for="inputBrand">Brand</label>
            <input
              type="text"
              class="form-control"
              id="inputBrand"
              placeholder="Brand"
            />
          </div>
  
          <div class="form-group col-4 col-md-2">
            <label for="inputSupplier">Supplier</label>
            <input
              type="text"
              class="form-control"
              id="inputSupplier"
              placeholder="Supplier"
            />
          </div>
  
          <div class="form-group col-4 col-md-2">
            <label for="inputBarcode">Barcode</label>
            <input
              type="text"
              class="form-control"
              id="inputBarcode"
              placeholder="Barcode"
            />
          </div>
  
          <div class="form-group col-4 col-md-2">
            <label for="inputHargaBeli">Harga Beli</label>
            <input
              type="text"
              class="form-control"
              id="inputHargaBeli"
              placeholder="Harga Beli"
            />
          </div>
  
          <div class="form-group col-4 col-md-2">
            <label for="inputHargaJual">Harga Jual</label>
            <input
              type="text"
              class="form-control"
              id="inputHargaJual"
              placeholder="Harga Jual"
            />
          </div>
  
          <div class="form-group col-4 col-md-2">
            <label for="inputUOM">UOM</label>
            <input
              type="text"
              class="form-control"
              id="inputUOM"
              placeholder="UOM"
            />
          </div>
  
          <div class="form-group col-4 col-md-2">
            <label for="inputStatus">Status</label>
            <input
              type="text"
              class="form-control"
              id="inputStatus"
              placeholder="Status"
            />
          </div>
  
          <div class="form-group col-3 col-md-2">
            <label for="inputQty">Qty</label>
            <input
              type="text"
              class="form-control"
              id="inputQty"
              placeholder="Qty"
            />
          </div>
  
          <div class="form-group col-9 col-md-4">
            <label for="inputGambar">Gambar</label>
            <div class="input-group">
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="exampleInputFile"
                />
                <label class="custom-file-label" for="exampleInputFile"
                  >Choose file</label
                >
              </div>
              <div class="input-group-append">
                <span class="input-group-text">Upload</span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  