<h2>
  Hanya untuk test routing, nanti disini kosong, di app.component.html hanya ada
  router outlet
</h2>
<ul>
  <li>
    <h2>
      <a class="nav-link" routerLink="/owner">Owner</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/inventory">Inventory</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/finance">Finance</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/cashier">Cashier</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/login">Login</a>
    </h2>
  </li>
  <li>
    <h2>
      <a class="nav-link" routerLink="/user">User</a>
    </h2>
  </li>
</ul>
